{% extends "users/base.html" %}

{% block head_content %}
<title> Sign Up on Pytogram </title>
{% endblock %}


{% block container %}



{% if info %}
   <p class="alert alert-danger"> {{info}} </p>
{% endif %}
<form action="{% url 'sign_up' %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="username" required="true">
    </div>

    <div class="form-group">
    <input type="password" class="form-control  {%if info%} border-danger alert-danger {% endif %}" placeholder="Password" name="password" required="true">
    </div>

        <div class="form-group">
    <input type="password" class="form-control {%if info%} border-danger alert-danger {% endif %}" placeholder="Password confirmation" name="password-confirmation" required="true">
    </div>


    <div class="form-group">
    <input type="text" class="form-control" placeholder="Email" name="email" required="true">
    </div>

       <div class="form-group">
    <input type="text" class="form-control" placeholder="First name" name="first_name" required="true">
    </div>

    <div class="form-group">
    <input type="text" class="form-control" placeholder="Last name" name="last_name" required="true">
    </div>


    <button type="submit" class="btn btn-primary btn-block mt-5"> Sign Up! </button>
</form>


{% endblock %}