{% extends "users/base.html" %}
{% block head_content %}
<title> {{ request.user.username }}</title>
{% endblock %}
{% load static %}
{% block container %}

<!--

<div class="container  d-flex flex-row">
{% if profile.picture %}
			<div class="col-4">
			<img class="rounded-circle justify-content-center d-flex" src="{{ profile.picture.url }}" width="50">
			</div>
	<div class="col-8">
			<p>  {{request.user.username}} | {{ request.user.first_name }}	</p>
	</div>
{% else %}
	<div class="col-4">
			<img class="rounded-circle justify-content-center d-flex" src="{% static 'img/user-default.png' %}" width="50">
	</div>
    <div class="col-8">
				<p class="d-flex align-items-center">  {{request.user.username}} | {{ request.user.first_name }}	</p>
	</div>
{% endif %}
</div>

-->




		<form action="{% url 'users:update' %}"  method="POST" class="form-group mt-5" enctype="multipart/form-data">
			{% csrf_token %}

			<!--  CONTENENDOR DE FOTO DEL USUARIO -->
                <div class="media">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" class="rounded-circle mb-3" height="50" />
                    {% else%}
                        <img src="{% static 'img/user-default.png' %}" class="rounded-circle mb-3" height="50" />
                    {% endif %}

						<p class="mt-3"> {{ request.user.username }} | {{ request.user.get_full_name }}</p>
				</div>
			<!--  FIN DEL CONTENEDOR -->

		{# FOTO DE PERFIL #}
		<div class="form-group">
			<input class="form-control" type="file" name="picture"  placeholder="{{ profile.picture }}"  value="{% if profile.picture %} {{ profile.picture.url }} {% endif %}">
		</div>

			{# ERRORES EN EL UPDATE DE LA FOTO DE PERFIL #}

			{% for error in form.picture.errors %}
			<div class="alert alert-danger">
				<b>Picture: </b> {{ error }}
			</div>
			{% endfor %}


		<div class="form-group">
			<input class="form-control" type="text" name="website" value="{% if form.website.errors %}{{ form.website.value }}{% else %}{{ profile.website}} {% endif%}">
		</div>


			{# ERRORES EN EL UPDATE DEL WEBSITE #}

			{% for error in form.website.errors %}
			<div class="alert alert-danger">
				<b>Website: </b> {{ error }}
			</div>
			{% endfor %}


		<div class="form-group">
				<input class="form-control" type="text" name="phone_number" value="{% if form.phone_number.errors %}{{ form.phone_number.value }}{% else %}{{profile.phone_number}} {% endif%}">
		</div>

			{# ERRORES EN EL UPDATE DEL NUMERO DE TELEFONO #}
			{% for error in form.phone_number.errors %}
			<div class="alert alert-danger">
				<b>Cellphone: </b> {{ error }}
			</div>
			{% endfor %}


		<div class="form-group">
				<input class="form-control" type="text" name="bio" value="{% if form.bio.errors %}{{ form.bio.value }}{% else %}{{profile.bio}} {% endif%}">
		</div>	

			{# ERRORES EN EL UPDATE DE LA BIOGRAFIA #}

			{% for error in form.bio.errors %}
			<div class="alert alert-danger">
				<b>Biography: </b> {{ error }}
			</div>
			{% endfor %}

		<div class="form-group d-flex">
			<button type="submit" class="btn btn-primary d-flex justify-content-center"> Actualizar perfil </button>
		</div>

	</form>


{% endblock %}
